colorPrimario = #9c3
colorHeader = #131921
grayClaro = #ccc
colorClaro = #fff
marginEstandar = 20px
colorBody = #eaeded
targetCircle = #f1f1f1

html 
    scroll-behavior: smooth

#shadow-sm 
    box-shadow 0px -5px 0.25rem rgba(0,0,0,.07)

#shadow-sm-w 
    box-shadow 0px 0px 0.25rem rgba(255,255,255,0.8)



.m-s
    margin: marginEstandar

.container
    max-width 1215px !important

p
    margin-bottom: 0 !important
    padding: 0

@import "component/_header.styl"
@import "component/_navAdicional.styl"
@import "component/_carusel.styl"
@import "component/_card.styl"
@import "component/_infoApp.styl"