.next 
    position: absolute
    right 10px
    z-index 10
    width: 28px
    top: 85px

.previus 
    position: absolute
    left  10px
    z-index 10
    top: 85px
    width: 28px
    transform: rotate(180deg)